.App {
  text-align: center;
}

p{
  color: rgb(48, 26, 243);
}

button {
  background-color: rgb(250, 250, 171);
  color: rgb(11, 11, 11);
  font-size: 16px;
  padding: 8px 18px;
  border: 1.5px solid #090a09;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.multiple-choice-options {
  display: flex;
  justify-content: center;
  gap: 20px;
}


.next-button {
  background-color: rgb(83, 83, 239);
  margin-top: 10px;
}


.Answer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Answer button {
  background-color: rgb(238, 196, 196);
  border: 1px solid #0b0b0b;
  padding: 10px;
  margin: 5px;
  width: 25%;
  border-radius: 5px;
  cursor: pointer;
}