.App {
  text-align: center;
}

button {
  background-color: rgb(221, 221, 209);
  color: black;
  font-size: 16px;
  padding: 8px 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.multiple-choice-options {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* .option-button.correct {
  background-color: green;
  color: white;
} */

/* .option-button.incorrect {
  background-color: red;
  color: white;
} */

.next-button {
  background-color: blue;
  margin-top: 10px;
}
